a:link {
	padding-left: 10px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: #e8595e;
}

a:active {
	text-decoration: underline;
	color:black;
}

.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left:35%;
	justify-content: center;
	background-color: none;
}

.logo {
	justify-content: center;
}

.mission {
	width: 1000px;
}

.women {
	width: 900px;
	padding-bottom: 15px;
}

.break {
	width: 700px;
}

.about {
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    margin-left: 20%;
	margin-right: 20%;
}

.mentee {
	margin-left: 25px;
}


/*.input {
	border: none;
	border-bottom: 2px solid black;
	width: 600px;
	padding: 12px 20px;
	left: 20%;
	right: 20%;
}*/
.desc {
	width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #FFF0F5;
    resize: none;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FFF0F5;
    color: black;
}

input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FFF0F5;
    color: black;
}

.button {
	background-color: #e8595e;
	border: none;
	color: white;
	padding: 10px 20px;
	margin: 3px;
	cursor: pointer;
}